name: Trigger auto deployment for chat-app-uxa4qqmupg-web

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/chat-app-uxa4qqmupg-web-AutoDeployTrigger-070392a3-b640-4dd8-958a-53f14722e2c7.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CHATAPPUXA4QQMUPGWEB_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CHATAPPUXA4QQMUPGWEB_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CHATAPPUXA4QQMUPGWEB_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: cruxa4qqmupgvuu.azurecr.io
          registryUsername: ${{ secrets.CHATAPPUXA4QQMUPGWEB_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CHATAPPUXA4QQMUPGWEB_REGISTRY_PASSWORD }}
          containerAppName: chat-app-uxa4qqmupg-web
          resourceGroup: rg-chat-app
          imageToBuild: cruxa4qqmupgvuu.azurecr.io/chat-app-uxa4qqmupg-web:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


