name: Trigger auto deployment for vscode-dev-65fea1-c-web

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/vscode-dev-65fea1-c-web-AutoDeployTrigger-a51ebaaf-9f9c-4f91-b195-2182cb95f2d9.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.VSCODEDEV65FEA1CWEB_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.VSCODEDEV65FEA1CWEB_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.VSCODEDEV65FEA1CWEB_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: crcpb6usaaxgr6w.azurecr.io
          registryUsername: ${{ secrets.VSCODEDEV65FEA1CWEB_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.VSCODEDEV65FEA1CWEB_REGISTRY_PASSWORD }}
          containerAppName: vscode-dev-65fea1-c-web
          resourceGroup: rg-vscode-dev-65fea1
          imageToBuild: crcpb6usaaxgr6w.azurecr.io/vscode-dev-65fea1-c-web:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


